<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HOLIDAY</title>
    <style>table,th,td {border: 1px solid black;}</style>
</head>
<body>
<h1>Enjoy your Time!</h1>
<h2>Plan your holiday</h2>
<u1>
    <li>London</li>
    <li>Paris</li>
    <li>Amsterdam</li>
</u1>
<table style="width:30%">
    <tr>
   <h3>Prices for one week</h3>
    <th>London</th>
    <th>Paris</th>
    <th>Amsterdam</th>
    </tr>
    <tr>
        <td>2500</td>
       <td>2150</td>
       <td>2300</td>
    </tr>
</table>
</body>
</html>